<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>KlaayGuard</string>
    <key>Name</key>
    <string>KlaayGuard</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/KlaayGuard.app/Contents/MacOS/KlaayGuard</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>StandardOutPath</key>
    <string>/tmp/klaayguard.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/klaayguard.error.log</string>
    <key>ThrottleInterval</key>
    <integer>10</integer>
    <key>ExitTimeOut</key>
    <integer>30</integer>
</dict>
</plist>
