<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>__LABEL__</string>
    <key>ProgramArguments</key>
    <array>
        <string>__OPEN_PATH__</string>
        <string>-W</string>
        <string>-g</string>
        <string>-j</string>
        <string>-a</string>
        <string>__APP_PATH__</string>
    </array>
    <key>RunAtLoad</key>
    __RUN_AT_LOAD__
    <key>KeepAlive</key>
    __KEEP_ALIVE__
    <key>ThrottleInterval</key>
    <integer>5</integer>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>StandardOutPath</key>
    <string>__LOG_DIR__/klaayguard.log</string>
    <key>StandardErrorPath</key>
    <string>__LOG_DIR__/klaayguard.error.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>KLAAYGUARD_LAUNCHD</key>
        <string>1</string>
        <key>VITE_API_BASE_URL</key>
        <string>__VITE_API_BASE_URL__</string>
    </dict>
</dict>
</plist>

