[Desktop Entry]
Name=KlaayGuard
Comment=KlaayGuard Security Agent
Exec=klaayguard %U
Terminal=false
Type=Application
Icon=klaayguard
MimeType=x-scheme-handler/klaayguard;
Categories=Utility;Security;

